$app-background: snow;
$frame-background: ivory;
$tile1: orchid;
$tile2: deepskyblue;
$tile3: chocolate;
$tile4: tomato;
$tile5: sandybrown;
$tile6: yellowgreen;
$tile7: darkblue;
$tile8: darkslategray;
$tile9: white;
