@import 'colors';

.app {
  min-height: 100vh;
  font-size: calc(10px + 10vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .frame {
    background-color: $frame-background;
    height: 60vh;
    width: 60vw;

    .row {
      display: flex;
      flex-direction: row;

      .tile {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        height: 18vh;
        width: 18vw;
        color: $tile;
        border: solid;
        border-color: $tile;
        border-width: 1vh 1vw;
      }

    }

  }

}





