@import 'colors';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header {
    font-size: calc(5px + 5vmin);
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    span {
      margin-bottom: 2vh;
    }
    button {
      font-size: calc(3px + 3vmin);
      background-color: transparent;
      cursor: pointer;
      border-radius: 2rem;
    }
  }

  .frame {
    font-size: calc(10px + 10vmin);
    background-color: $frame-background;
    height: 60vh;
    width: 60vw;

    .row {
      display: flex;
      flex-direction: row;

      %tile {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        height: 18vh;
        width: 18vw;
        font-weight: bold;
        border: solid;
        border-width: 1vh 1vw;
      }
      .tile1 {
        @extend %tile;
        color: $tile1;
        border-color: $tile1;
      }
      .tile2 {
        @extend %tile;
        color: $tile2;
        border-color: $tile2;
      }
      .tile3 {
        @extend %tile;
        color: $tile3;
        border-color: $tile3;
      }
      .tile4 {
        @extend %tile;
        color: $tile4;
        border-color: $tile4;
      }
      .tile5 {
        @extend %tile;
        color: $tile5;
        border-color: $tile5;
      }
      .tile6 {
        @extend %tile;
        color: $tile6;
        border-color: $tile6;
      }
      .tile7 {
        @extend %tile;
        color: $tile7;
        border-color: $tile7;
      }
      .tile8 {
        @extend %tile;
        color: $tile8;
        border-color: $tile8;
      }
      .tile9 {
        @extend %tile;
        color: $tile9;
        border-color: $tile9;
        background-color: $tile9;
      }

    }

  }

}





